.box{
   width: 500px;
   height: 500px;
   border: 2px solid black;
   margin-top: 60px ;
   margin-left: 100px; 
   margin-bottom: 60px;
   margin-right: 50px;
   border-radius: 30px;
   
}
.box .box1{
   width: 400px;
   height: 400px;
   border: 2px dotted blue;
   margin-top: 40px;
   margin-left: 30px;
   margin-bottom: 40px;
   margin-right: 100px;
   }
.box .box1 .box2{
   width: none;
   height: 250px;
   border: 2px dashed green;
   margin: 80px;
   border-radius: 50px;
 }
 h1{
   color: blueviolet;
   padding: 80px;
   margin:-40px;
   margin-top: 2px;

}
 
 
 